body{
    background-image: url(https://www.involve.me/assets/images/menu3.png);
    background-size: cover;
}

h1{
    color: black;
    text-align: center;
}
h2{
    text-align: center;
    color: burlywood;
}
a{
    margin-left: 500px;
    font-size: xx-large;
    text-decoration: none;
    color: red;

}
a:hover{
    color: yellow;
    cursor: cell;
}